In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame({
    'A':[152,365,89,24],
    'B':[99,12,99,10]
})


df

     A   B
0  152  99
1  365  12
2   89  99
3   24  10

In [12]:
df['C'] = df['A'].apply(lambda x: x**2 if x%2==0 else 0)
df

     A   B      C
0  152  99  23104
1  365  12      0
2   89  99      0
3   24  10    576