In [3]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_wine

In [4]:
wine = load_wine()
wine_df = pd.DataFrame(data=wine.data, columns=wine.feature_names)

In [5]:
wine_df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [6]:
target = wine.target
wine_df['target'] = target
wine_df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, MultinomialNB

In [8]:
X= wine_df.drop(columns='target')
y = wine_df['target']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [10]:
len(X_train)

133

In [11]:
naive_model = GaussianNB()
naive_model.fit(X_train, y_train)

GaussianNB()

In [12]:
naive_model.score(X_test, y_test)

0.9777777777777777

In [13]:
mn = MultinomialNB()
mn.fit(X_train,y_train)
mn.score(X_test,y_test)

0.8444444444444444

# Email spam classification

In [14]:
emails = pd.read_csv('data/spam.csv')
emails.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [15]:
emails['spam'] = emails['Category'].apply(lambda x: 1 if x=='spam' else 0)

emails.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [16]:
# emails_encoded = pd.get_dummies(emails, columns=['Category'])
# emails_encoded.head()

In [17]:
emails.drop(columns=['Category'], inplace=True)
emails.head()

                                             Message  spam
0  Go until jurong point, crazy.. Available only ...     0
1                      Ok lar... Joking wif u oni...     0
2  Free entry in 2 a wkly comp to win FA Cup fina...     1
3  U dun say so early hor... U c already then say...     0
4  Nah I don't think he goes to usf, he lives aro...     0

In [18]:
#Vectorize the data
from sklearn.feature_extraction.text import CountVectorizer

In [19]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(emails['Message'])
X.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [20]:
y1 = emails.spam
X1 = X.toarray()
X_train, X_test, y_train, y_test = train_test_split(X1, y1, test_size=0.2)
len(X_test)

1115

In [21]:
X_test

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [22]:
model_n = GaussianNB()
model_n.fit(X_train, y_train)

GaussianNB()

In [23]:
sample_emails = [
    """Subject: Congratulations! You've Won $1,000,000!
    
    Dear Winner,
    
    We are pleased to inform you that you have won a $1,000,000 lottery prize! This is a unique opportunity to claim your prize and become a millionaire. All you need to do is reply to this email with your full name, address, and bank account details.
    
    Hurry! This offer is limited and time-sensitive. Don't miss out on this life-changing opportunity.
    
    Best regards,
    The Lottery Team
    """,

    """Subject: Get a Free $500 Amazon Gift Card!
    
    Hello,
    
    We are giving away $500 Amazon gift cards to the first 100 customers who sign up! All you need to do is click on the link below and complete a short survey to claim your free gift card.
    
    [Click here to claim your gift card]
    
    This offer is available for a limited time only, so act fast!
    
    Cheers,
    The Rewards Team
    """,

    """Subject: Urgent: Help Needed
    
    Dear Friend,
    
    I am Prince Adebayo from Nigeria. My father, the late King, left me an inheritance of $10,000,000. I need your assistance to transfer this amount out of my country. For your help, I will give you 30% of the total sum.
    
    Please provide your bank account details so we can begin the transfer immediately.
    
    Thank you for your kind assistance.
    
    Best regards,
    Prince Adebayo
    """,

    """Subject: Reminder: Team Meeting Tomorrow
    
    Hi Team,
    
    This is a quick reminder about our team meeting scheduled for tomorrow at 10:00 AM in the conference room. We'll be discussing the project timelines and deliverables for the upcoming quarter.
    
    Please make sure to review the agenda I sent last week and come prepared.
    
    Thanks,
    John
    """,

    """Subject: Coffee Catch-Up?

    Hi Sarah,

    It's been a while! Are you free this weekend to grab a coffee and catch up? Let me know what time works for you.

    Looking forward to hearing from you!

    Best,
    Emily
    """,

    """Subject: Your Invoice is Due
    
    Dear Customer,
    
    This is a reminder that your invoice #12345 is due on August 10th. Please ensure payment is made by the due date to avoid any late fees.
    
    Thank you for your prompt attention to this matter.
    
    Regards,
    The Accounts Team
    """
]

In [24]:
X2 = vectorizer.transform(sample_emails)
X2_counts = X2.toarray()

In [25]:
X2_counts

array([[0, 4, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 2, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [26]:
model_n.predict(X2.toarray())

array([1, 1, 0, 0, 0, 0], dtype=int64)

In [27]:
model_n.score(X_test, y_test)

0.8986547085201794

In [28]:
y_predicted = model_n.predict(X_test)

# Pipeline classifier

In [29]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', GaussianNB)
])

In [30]:
# new_p_model = clf.fit(X_train, y_train)

In [31]:
final_df = pd.DataFrame({
    'y_predicted': y_predicted,
    'y_test': y_test
})
final_df.head(10)

      y_predicted  y_test
1187            0       0
4161            0       0
4764            0       0
2838            1       0
2204            0       0
2609            0       0
1093            0       0
2431            1       0
1118            1       1
1937            0       0

# Additional example

In [32]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score

# Sample data (emails)
emails = [
    "Congratulations! You've won a lottery worth $1,000,000!",  # Spam
    "Your invoice is due next week, please ensure payment is made.",  # Ham
    "You have been selected for a free gift card! Claim it now!",  # Spam
    "Reminder: Your meeting is scheduled for tomorrow at 10 AM.",  # Ham
    "Urgent! Your account has been compromised, please reset your password.",  # Spam
    "Can we schedule a coffee meeting next week?",  # Ham
]

# Corresponding labels (1 for spam, 0 for ham)
labels = [1, 0, 1, 0, 1, 0]

# Step 1: Create a Pipeline
pipeline = Pipeline([
    ('vectorizer', CountVectorizer()),   # Step 1: Convert text to feature vectors
    ('classifier', MultinomialNB())      # Step 2: Train the Naive Bayes classifier
])

# Step 2: Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(emails, labels, test_size=0.3, random_state=42)

# Step 3: Train the Pipeline on the training data
pipeline.fit(X_train, y_train)

# Step 4: Make predictions on the test data
predictions = pipeline.predict(X_test)

# Step 5: Evaluate the model's performance
print("Classification Report:\n", classification_report(y_test, predictions))
print("Accuracy:", accuracy_score(y_test, predictions))

Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00         1
           1       1.00      1.00      1.00         1

    accuracy                           1.00         2
   macro avg       1.00      1.00      1.00         2
weighted avg       1.00      1.00      1.00         2

Accuracy: 1.0

# Real world example

In [33]:
train_df = pd.read_csv('data/books.csv')
train_df.head()

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL

In [34]:
train_df.author.unique()

array(['EAP', 'HPL', 'MWS'], dtype=object)

In [35]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

train_df['author_nums'] = encoder.fit_transform(train_df.author)
train_df.drop(columns=['author', 'id'], inplace=True)
train_df.head()

                                                text  author_nums
0  This process, however, afforded me no means of...            0
1  It never once occurred to me that the fumbling...            1
2  In his left hand was a gold snuff box, from wh...            0
3  How lovely is spring As we looked from Windsor...            2
4  Finding nothing else, not even gold, the Super...            1

In [36]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.pipeline import Pipeline

In [37]:
pipeline = Pipeline([
    ('vectorizer',  TfidfVectorizer()),   # Step 1: Convert text to feature vectors
    ('classifier', MultinomialNB())      # Step 2: Train the Naive Bayes classifier
])

In [38]:
X = train_df.text
y = train_df.author_nums

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
pipeline.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', TfidfVectorizer()),
                ('classifier', MultinomialNB())])

In [40]:
pipeline.predict(X_test[:20])

array([2, 2, 0, 0, 0, 0, 2, 2, 1, 0, 0, 0, 0, 0, 0, 1, 2, 2, 2, 0])

In [41]:
y_test[:20]

16199    2
8668     2
10827    0
18003    0
38       1
4929     0
18406    2
8664     2
11988    1
2905     1
12989    1
7985     2
465      0
7537     0
1181     1
12765    1
19136    2
17200    2
14326    2
5908     2
Name: author_nums, dtype: int32

In [42]:
pipeline.score(X_test, y_test)

0.8026898195437522

In [43]:
# #using gaussion
# # Note: GaussianNB requires dense arrays, so we need to convert the sparse matrix to a dense format
# X_train_dense = pipeline.named_steps['vectorizer'].fit_transform(X_train).toarray()
# X_test_dense = pipeline.named_steps['vectorizer'].transform(X_test).toarray()

# # Step 3: Train the GaussianNB model
# pipeline.named_steps['classifier'].fit(X_train_dense, y_train)
# pipeline.named_steps['classifier'].predict(X_test_dense)
# pipeline.named_steps['classifier'].score(X_test_dense, y_test)

In [44]:
test_df = pd.read_csv('data/books_test.csv')
test_df.drop(columns=['id'], inplace=True)
test_df.head()

                                                text
0  Still, as I urged our leaving Ireland with suc...
1  If a fire wanted fanning, it could readily be ...
2  And when they had broken down the frail door t...
3  While I was thinking how I should possibly man...
4  I am not sure to what limit his knowledge may ...

In [45]:
pipeline.predict(test_df.text)

array([2, 0, 1, ..., 0, 2, 0])

CountVectorizer, TF-IDF (Term Frequency - Inverse Document Frequency) 
and try SVM, logistic and NaiveBayes, kfold cross validation

In [46]:
from sklearn.svm import SVC

In [47]:
vector = CountVectorizer()
X_transformed = vector.fit_transform(X_train)
X_counts = X_transformed.toarray()
X_test_counts = vector.transform(X_test).toarray()

In [48]:
# svm = SVC()
# svm.fit(X_counts, y_train)
# svm.predict(X_test_counts)

In [49]:
# from sklearn.linear_model import LogisticRegression
# log = LogisticRegression()
# log.fit(X_counts, y_train)
# log.predict(X_test_counts)

In [51]:
# log.score(X_test_counts, y_test)

In [54]:
# from sklearn.linear_model import LinearRegression
# ln = LinearRegression()
# ln.fit(X_counts, y_train)
# ln.predict(X_test_counts)

In [56]:
# ln.score(X_test_counts, y_test)

# Build a word translation model with Naive bayes

In [88]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Example word pairs (in practice, use a larger dataset)
english_words = ["apple", "banana", "cat", "dog", "elephant", "mother","fish", "grape", "house", "ice", "juice"]
swahili_words = ["tufaha", "ndizi", "paka", "mbwa", "tembo","mama","samaki", "zabibu", "nyumba", "barafu", "juisi"]
# Step 1: Vectorize the English words
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(english_words)
# Step 2: Encode the Swahili words as labels
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(swahili_words)
y

array([ 9,  4,  6,  3,  8,  2,  7, 10,  5,  0,  1], dtype=int64)

In [89]:
# Step 3: Train a Naive Bayes model
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)
model = MultinomialNB()
model.fit(X_train, y_train)

# Step 4: Translate a new word
def translate_word(word):
    word_vector = vectorizer.transform([word])
    predicted_label = model.predict(word_vector)
    return label_encoder.inverse_transform(predicted_label)[0]

# Test the model on the test set
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))

# Example translations
print("Translate 'apple':", translate_word("apple"))
print("Translate 'dog':", translate_word("mother"))
print("Translate 'grape':", translate_word("Juice"))

Accuracy: 0.0
Translate 'apple': barafu
Translate 'dog': mama
Translate 'grape': juisi